<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{style}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gilda+Display&display=swap" rel="stylesheet">
    <script src="{{autoTopScrollButton}}"></script>
    <script defer src="{{activePage}}"></script>
    <meta charset="UTF-8">
    <meta name="description" content="dna clothing online store">
    <meta name="keywords" content="dna, clothing store, design, спб, clothes">
    <meta name="author" content="Daniil Kurepin">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <!-- Подключаем файлы стилей и скриптов Noty -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <title>dna</title>
<!--    <script src="websocketScript.js"></script>-->
    <script src="{{websocketScript}}"></script>
</head>
<body>
<!-- Ваше содержимое body -->

{{> progress-value}}
{{> header}}

<!-- Вставляем скрипт здесь -->

{{{body}}}
{{> footer}}
<script src="{{loadTimeScript}}"></script>
</body>
</html>
